{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    [
      "transform-class-properties",
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }

    ]
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
